.form-group {
  background-color: rgb(211, 210, 210);
  border: 1.8px solid dimgray;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.content-form {
  margin: 2rem 1rem 2rem 1rem;
}
button {
  position: relative;
  margin: -20px -50px;
  width: 100px;
  top: 50%;
  left: 50%;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  margin-right: 6rem;
  border-color: #dc3545;
}

body {
  position: flex;
}
